.sidebar {
  position: absolute;
  z-index: 999;
  top: 0;
  left: -250px; /* Initially hidden */
  height: 100%;
  width: 250px;
  background-color: #000000; /* Dark background */
  transition: left 0.3s ease-in-out;
}

.sidebar.active {
  left: 0; /* Displayed when active */
}

.firstNav {
  margin-top: 20px;
  padding: 10px;
}

.home h3 {
  color: #fff;
  padding-left: 15px;
}

.icon {
  display: inline-block;
  margin-right: 10px;
}

.name {
 
  color: #fff;
  padding: 8px 0;
  transition: background-color 0.3s;
}

.name:hover {
  background-color: #444;
}

/* Add styles for other sidebar sections as needed */
